<!-- loading before the end of <body> -->
<!-- load Ubuntu font -->
<link rel="stylesheet" href="{{ "/vendor/ubuntu-font-family-0.80/ubuntu-font.css" | prepend: site.baseurl }}">

<!-- for Foundation 5 -->
<script src="{{ "/vendor/b/foundation/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/b/foundation/js/vendor/jquery.cookie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/b/foundation/js/vendor/fastclick.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/b/foundation/js/vendor/placeholder.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/b/foundation/js/foundation.js" | prepend: site.baseurl }}"></script>
<!-- init Foundation -->
<script>
  $(document).foundation();
</script>